[
    {
      "ParameterKey": "parameterOne",
      "ParameterValue": "{{ parameterOne }}"
    },
    {
      "ParameterKey": "parameterTwo",
      "ParameterValue": "{{ parameterTwo }}"
    },
    {
      "ParameterKey": "parameterThree",
      "ParameterValue": "{{ parameterThree }}"
    }
]